# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.AudioProgrammingIntroCourse.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Dev\UE\MDHBerlinAudioCourse\AudioProgrammingIntroCourse\.idea\.idea.AudioProgrammingIntroCourse\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
